<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3>LOGIN</h3>
		<br>
		<a class='btn btn-primary' href='/login'>Login</a>
		<a class='btn btn-primary' href='/register'>Sign up</a>
	</div>
</div>

<%- include ('templates/footer'); -%>