<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1 style='text-align: center'> Warning </h1>
		<br>
		<form action='/cancel/confirm/<%=fnb%>?_method=PUT' method='POST'>
	    	    <h3 style='text-align: center'> Do you want to make this change? (could not be undone) </h3>
	    	    <br>
		<div class='form-group row'>
			<div class='col-sm-6'>
			    <a class='btn btn-primary btn-block' href='/cancel'>No</a>
			</div>
			<div class='col-sm-6'>
				<button class='btn btn-danger btn-block'>Yes</button>
			</div>
			<div class='col-sm-4'></div>
		</div>
	    </form>
	</div>
</div>
<%- include ('templates/footer'); -%>