<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3>Welcome <%=user%> to the OtterAirway</h3>
		<br>
		<br>
		<a class='btn btn-danger' href='/logout'>Logout</a>
		<br>
		<br>
		<a class='btn btn-primary' href='/reserve'>RESERVE SEAT</a>
		<br>
		<br>
		<a class='btn btn-primary' href='/cancel'>CANCEL RESERVATION</a>
		<br>
		<br>
	</div>
</div>

<%- include ('templates/footer'); -%>