<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1 style='color: red'>Sorry, you could just have one booking at a time</h1>
		<br>
		<br>
		<a class='btn btn-success' href='/reserve'>Back</a>
	</div>
</div>

<%- include ('templates/footer'); -%>